:root {
    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #e7a1af;
    --envelope-cover: #bb5f70;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
}

@font-face {
    font-family: caslon;
    src: url(assets/fonts/ACaslonPro-SemiboldItalic.otf);
}

@font-face {
    font-family: miklos;
    src: url(assets/fonts/Miklos-Italic.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fee2e9;
    display: block;
    align-items: center;
    justify-content: center;
}

/* carousel */

.carousel {
    position: relative;
    z-index: 1;
    height: 70vh;
    /* Mengubah tinggi carousel */
    overflow: hidden;
    pointer-events: none;
    margin-top: 60px;
    margin-bottom: -5px;
}

.carousel-item {
    --items: 10;
    --width: clamp(100px, 20vw, 200px);
    --height: clamp(150px, 30vw, 300px);
    --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * -10%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
    background: black;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel-item .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: "Orelo-sw-db", serif;
}

.carousel-item .carousel-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}

.carousel-item .title {
    position: absolute;
    z-index: 1;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(16px, 2vw, 24px);
    /* Menyesuaikan ukuran font title */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item .num {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(16px, 8vw, 40px);
    /* Menyesuaikan ukuran font num */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.layout {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.layout:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 90px;
    width: 10px;
    height: 100%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    opacity: 0.15;
}

.layout .box {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #fff;
    transform-origin: 0% 10%;
    transform: rotate(-90deg);
    font-size: 9px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: 0.4;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 28px;
    right: 28px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orelo-sw-db", serif;
    pointer-events: all;
    color: black;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 0.1em;
}

.cursor {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
    transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
    display: none;
    pointer-events: none;
}

@media (pointer: fine) {
    .cursor {
        display: block;
    }
}

.cursor2 {
    --size: 2px;
    transition-duration: 0.7s;
}

.title-gallery {
    text-align: center;
    font-family: miklos;
    color: #e91e63;
}

.underline {
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: solid 3px red;
    left: 0;
    bottom: -10px;
    border-radius: 50%;
    height: 8px;
}

@media only screen and (max-width: 600px) {
    .carousel-item {
        margin-top: -180px;
    }

    .carousel {
        margin-bottom: -200px;
    }
}

/* akhir carousel */


/* letter */

/* .container-letter {
    display: grid;
    place-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container>.envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
}

.envelope-wrapper>.envelope {
    position: relative;
    width: 300px;
    height: 230px;
    margin-top: 20px;
}

.envelope-wrapper>.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}

.envelope-wrapper>.envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
}

.envelope>.letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
}

.envelope>.letter>.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--txt-color);
    text-align: left;
    font-size: 10px;
}

.flap>.envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
}

.flap>.envelope>.letter {
    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
}

.flap>.heart {
    transform: rotate(90deg);
    transition-delay: 0.4s;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

@media only screen and (max-width: 600px) {
    .container-letter {
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {} */

.envelope-container {
    margin-top: 185px;
    margin-bottom: -80px;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0;
    animation: dudu ease 1 alternate forwards;
    transform-origin: 0 0;
    z-index: 1;
}

.envelope {
    width: 224px;
    height: 224px;
    overflow: hidden;
    position: relative;
    transition: all ease;
    animation: tremble 1s infinite;
    margin: auto;
}

.envelope--base {
    left: 12px;
    top: 100px;
    z-index: 2;
    width: 240px;
    height: 126px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #00000024;
    background-color: rgb(254, 168, 182);
}

.envelope__tab {
    left: 38px;
    z-index: 1;
    bottom: 26px;
    width: 200px;
    height: 140px;
    position: absolute;
    transform: rotateZ(45deg);
    border-top-left-radius: 30px;
    background-color: pink;
    border: 2px solid #00000024;
}

.envelope__letter {
    left: 25px;
    z-index: 3;
    width: 167px;
    bottom: 17px;
    height: 100px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding: 12px 18px;
    border-radius: 8px;
    position: absolute;
    box-sizing: border-box;
    background-size: cover;
    color: #a59090;
    border: 1px solid #00000024;
    transition: all 0.6s linear 0.4s;
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-valentine-s-day-paper-cut-simple-pink-background-material-picture-image_1117287.jpg");
}

.envelope:hover .envelope__letter {
    height: 200px;
    color: #4c4444;
}

.envelope__letter:before {
    content: "";
    height: 0;
    width: 6px;
    right: -34px;
    bottom: -17px;
    position: absolute;
    border-top: 56px solid transparent;
    border-left: 107px solid pink;
    border-right: 107px solid pink;
    border-bottom: 65px solid rgb(255, 174, 187);
}

@keyframes tremble {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes dudu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* akhir letter */

/* header */
header {
    background-color: #e91e63;
    padding-bottom: 140px;
    padding-top: 50px;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgb(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0));
}

.snowflake {
    padding-top: 23px;
    display: flex;
    justify-content: center;
}

.snowflake img {
    margin: 8px;
    margin-bottom: -8px;
}

.img-header {
    padding-top: 20px;
}

.frame {
    width: 330px;
    height: 330px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    background: transparent;
    margin: auto;
}

.evermore {
    padding-top: 15px;
    display: block;
    margin: auto;
}

.text-header {
    text-align: center;
}

.evermore-text {
    font-family: miklos;
    color: white;
    font-size: 110px;
    margin-top: -90px;
    height: 130px;
}

.evermore-9th {
    color: rgb(255, 140, 155);
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.evermore-swift {
    color: #ffffffc9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.snowflake1 {
    width: 15px;
}

.snowflake2 {
    width: 18px;
}

.snowflake3 {
    width: 28px;
}

@media only screen and (max-width: 600px) {
    .img-header img {
        width: 200px;
        padding-top: 10px;
    }

    .frame {
        width: 220px;
        height: 220px;
    }

    .evermore-text {
        margin-top: -70px;
        font-size: 80px;
    }

    .evermore-9th {
        font-size: 14px;
    }

    .evermore-swift {
        font-size: 15px;
    }

    .snowflake1 {
        width: 12px;
    }

    .snowflake2 {
        width: 16px;
    }

    .snowflake3 {
        width: 22px;

    }
}

body {
    height: auto;
    margin: 0;
    overflow-x: hidden;
}

svg {
    width: 400px;
}

#sign {
    stroke-dasharray: 2475;
    animation: signature 4s linear;
}


@media only screen and (max-width: 600px) {
    svg {
        width: 200px;
        display: block;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    svg {
        display: block;
        margin: auto;
    }
}

.header-content {
    background-color: #fee2e9;
    margin-top: -20px;
    padding-bottom: 20px;
}

.message {
    margin-top: -40px;
}

.message .p-taylor {
    margin-top: 100px;
    text-transform: uppercase;
    color: #e91e63;
    letter-spacing: 0.9px;
    font-family: 'Times New Roman', Times, serif;
}

.h-taylor {
    color: #f4145e;
    font-weight: bold;
    font-family: miklos;
    font-size: 60px;
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .p-taylor {
        font-size: 14px;
    }

    .h-taylor {
        font-size: 30px;
    }

    .message .br1 {
        padding-left: 0px;
    }

    .message .br2 {
        padding-left: 0px;
    }

    .img-evermore {
        display: block;
        width: 200px;
        margin: auto;
        margin-top: 20px;
    }

    .evermore-text {
        font-size: 65px;
    }
}

@media only screen and (min-width: 600px) {
    .message .br1 {
        padding-left: 20px;
    }

    .message .br2 {
        padding-left: 50px;
    }

    .img-evermore {
        display: block;
        width: 450px;
        margin: auto;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .message .br1 {
        padding-left: 20px;
    }

    .message .br2 {
        padding-left: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .img-evermore {
        margin: 50px 0px;
        width: 300px;
    }

    .message .br1 {
        padding-left: 120px;
    }

    .message .br2 {
        padding-left: 80px;
    }

    .p-taylor {
        font-size: 20px;
    }

    .h-taylor {
        font-size: 40px;
    }

}

@media only screen and (min-width: 1200px) {
    .img-evermore {
        margin: 50px 100px;
        width: 400px;
    }

    .message .br1 {
        display: inline-block;
        padding-left: 190px;
    }

    .message .br2 {
        display: inline-block;
        padding-left: 110px;
    }

    .h-taylor {
        font-weight: bold;
        font-family: miklos;
        font-size: 60px;
        margin-top: -20px;
    }
}

/* akhir header */

/* navbar */

.navbar {
    background-color: rgb(130, 44, 4);
    font-family: caslon;
}

.nav-item {
    margin: 0 40px 0;
}

.navbar-brand {
    margin-top: 3px;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.navbar-nav .nav-link:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}

/* akhir navbar */

/* spotify */
.song-title {
    font-size: 20px;
    text-align: center;
    font-family: miklos;
}

.hello {
    font-size: 20px;
    text-align: center;
}

.rissa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.test {
    margin-top: 100px;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .3);
}

.spotify {
    margin-top: 60px;
    color: #e91e63;
    margin-bottom: 60px;
}

/* akhir spotify */

/* message */
.message-content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 600px;
    padding: 0 20px;
}

.rissa {
    font-family: miklos;
    font-size: 22px;
}

.title-message {
    font-size: 20px;
    color: #e9195e;
}

.text-message {
    font-size: 18px;
    color: #e91e63;
    font-family: miklos;
}

.sent {
    font-size: 15px;
    color: #ff89ae;
    font-family: miklos;
}


/* akhir message */

footer {
    padding-bottom: 22px;
}

.dashed-hr {
    border: none;
    border-top: 2px dashed #ff3333;
    margin: 20px 0;
}